NEXT_PUBLIC_SITE_URL=https://memory.yourdomain.com
NEXT_PUBLIC_GITHUB_URL=https://github.com/YOUR_GITHUB_USERNAME/memory
NEXT_PUBLIC_APK_URL=/downloads/MEMORY.apk
NEXT_PUBLIC_DEMO_URL=https://www.youtube.com/watch?v=YOUR_VIDEO_ID
NEXT_PUBLIC_FIGMA_URL=https://www.figma.com/file/YOUR_FILE
